body {
  background: #f5f8fa;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
a {
    outline: none;
}
nav .nav-wrapper {
    color: black !important;
    position: relative;
    /*margin-bottom: 10px;*/
}
nav .brand-logo {
    color: black;
    padding: 0 15px;
}
nav .fixed-action-btn {
  position: static;
  padding: 0 15px;
}
.tabContent {
  margin-bottom: 30px;
  padding: 20px 30px;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 40px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}
.addProject {
  margin-top: 20px;
}
.projects {
  padding: 20px 0;
}
.card .firstBtn {
  right: 88px
}
.authForm {
  padding: 150px 15px 0;
}
.authForm form{
  display: block;
  max-width: 450px;
  min-width: 300px;
  margin: 0 auto 100px;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#addVideoLink {
  margin-top: 10px;
}
.projectCover {
    position: relative;
    margin-top: 15px;
}
.btn-floating.halfway-fab.projectCoverRemove {
    bottom: -16px;
}
.sectionTitle {
    display: inline-block;
    /*width: 85%;*/
    margin: 15px 0 30px -30px;
    padding: 0 10px 7px;
}
.sectionTitle h2{
  color: white;
  margin: 0;
}
.collapsible-header {
    outline: none;
}
.activeProjects {
    color: #4caf50;
}
.disabledProjects {
    color: #ef5350;
}